<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /login/

  # If the file or directory exists, serve it
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise, forward everything to React
  RewriteRule ^ index.html [L]
</IfModule>
